:root {
  --scale: 1.3;
  --size-6: calc(var(--size-5) / var(--scale));
  --size-5: calc(var(--size-4) / var(--scale));
  --size-4: calc(var(--size-3) / var(--scale));
  --size-3: calc(var(--size-2) / var(--scale));
  --size-2: calc(var(--size-1) / var(--scale));
  --size-1: calc(var(--size0) / var(--scale));
  --size0: 1rem;
  --size1: calc(var(--size0) * var(--scale));
  --size2: calc(var(--size1) * var(--scale));
  --size3: calc(var(--size2) * var(--scale));
  --size4: calc(var(--size3) * var(--scale));
  --size5: calc(var(--size4) * var(--scale));
}


a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

body {
  width: 95%;
  margin: 0 auto;

}



/*********************/
/*     #HEADER       */
/*********************/

.header {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "name menu";

  text-transform: uppercase;
  padding: var(--size2) 0;
}

.header__logo {
  grid-area: name;
  font-weight: 400;
  font-size: var(--size2);
}

.header__nav {
  grid-area: menu;
  justify-self: end;
  align-self: flex-end;

  line-height: 1;
}

.header__nav-list {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: var(--size0);
  font-size: var(--size-1);
  opacity: 0.8;
}

.header__nav-list>*+* {
  border-left: 1px solid hsla(0, 2%, 24%, 0.3);
  padding-left: var(--size0);
}

/* .header__socials {
  grid-area: social;
  justify-self: end;

  display: flex;
  gap: var(--size-2);
}

.header__socials a {
  display: block;
  width: 22px;
  height: 22px;
} */




/*********************/
/*     #HOMEPAGE       */
/*********************/

.hero {
  position: relative;
}

.hero__img {
  max-width: 100%;
  height: auto;
  position: relative;
}

.hero::before {
  z-index: 1;
  content: '';
  background: linear-gradient(to top,
      hsla(0, 0%, 0%, 0.32) 0%,
      hsla(0, 0%, 0%, 0.316) 8.1%,
      hsla(0, 0%, 0%, 0.304) 15.5%,
      hsla(0, 0%, 0%, 0.287) 22.5%,
      hsla(0, 0%, 0%, 0.264) 29%,
      hsla(0, 0%, 0%, 0.237) 35.3%,
      hsla(0, 0%, 0%, 0.207) 41.2%,
      hsla(0, 0%, 0%, 0.176) 47.1%,
      hsla(0, 0%, 0%, 0.144) 52.9%,
      hsla(0, 0%, 0%, 0.113) 58.8%,
      hsla(0, 0%, 0%, 0.083) 64.7%,
      hsla(0, 0%, 0%, 0.056) 71%,
      hsla(0, 0%, 0%, 0.033) 77.5%,
      hsla(0, 0%, 0%, 0.016) 84.5%,
      hsla(0, 0%, 0%, 0.004) 91.9%,
      hsla(0, 0%, 0%, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: red; */
}

.main__overlay {
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: 78%;
  left: 50%;

  transform: translateX(-50%);
}

.main__logo {
  margin-bottom: var(--size1);
  opacity: 0.9;
}

.main__tagline {
  font-size: var(--size1);
  color: white;
}

.main__tagline>*+* {
  border-left: 1px solid white;
  padding-left: var(--size0);
}

.main__tagline--text {
  margin-right: var(--size0);
}