:root {
  --scale: 1.3;
  --size-6: calc(var(--size-5) / var(--scale));
  --size-5: calc(var(--size-4) / var(--scale));
  --size-4: calc(var(--size-3) / var(--scale));
  --size-3: calc(var(--size-2) / var(--scale));
  --size-2: calc(var(--size-1) / var(--scale));
  --size-1: calc(var(--size0) / var(--scale));
  --size0: 1rem;
  --size1: calc(var(--size0) * var(--scale));
  --size2: calc(var(--size1) * var(--scale));
  --size3: calc(var(--size2) * var(--scale));
  --size4: calc(var(--size3) * var(--scale));
  --size5: calc(var(--size4) * var(--scale));
}


a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

body {
  width: 95%;
  margin: 0 auto;

}



/*********************/
/*     #HEADER       */
/*********************/

.header {
  display: grid;
  grid-template-columns: auto 1fr;
  /* grid-template-rows: auto; */
  grid-template-areas:
    "name menu";

  text-transform: uppercase;
  padding: var(--size2) 0;
  /* background-color: hsla(44, 18%, 55%, 0.85); */
}

.header__logo {
  grid-area: name;
  font-weight: 400;
  font-size: var(--size2);
}

.header__nav {
  grid-area: menu;
  justify-self: end;
}

.header__nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size0);
  font-size: var(--size-1);
}

.header__nav-list>*+* {
  border-left: 1px solid hsla(0, 2%, 24%, 0.3);
  padding-left: var(--size0);
}

/* .header__socials {
  grid-area: social;
  justify-self: end;

  display: flex;
  gap: var(--size-2);
}

.header__socials a {
  display: block;
  width: 22px;
  height: 22px;
} */




/*********************/
/*     #HOMEPAGE       */
/*********************/

.hero {
  position: relative;
}

.hero__img {
  max-width: 100%;
  height: auto;
}

.main__overlay {
  /* width: 100%;
  height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;

  /* transform: translateX(50%); */
}