.project-detail__image-gallery--img-1 {
  background: url("../../../../img/credo-1.jpg") center center/cover;
}
.project-detail__image-gallery--img-2 {
  background: url("../../img/credo-2.jpg") center center/cover;
}
.project-detail__image-gallery--img-3 {
  background: url("../../img/credo-3.jpg") center center/cover;
}
.project-detail__image-gallery--img-4 {
  background: url("../../img/credo-4.jpg") center center/cover;
}
.project-detail__image-gallery--img-5 {
  background: url("../../img/credo-5.jpg") center center/cover;
}
.project-detail__image-gallery--img-6 {
  background: url("../../img/credo-6.jpg") center center/cover;
}
.project-detail__image-gallery--img-7 {
  background: url("../../img/credo-7.jpg") center center/cover;
}
.project-detail__image-gallery--img-8 {
  background: url("../../img/credo-8.jpg") center center/cover;
}
.project-detail__image-gallery--img-9 {
  background: url("../../img/credo-9.jpg") center center/cover;
}
.project-detail__image-gallery--img-10 {
  background: url("../../img/credo-10.jpg") center center/cover;
}
.project-detail__image-gallery--img-11 {
  background: url("../../img/credo-11.jpg") center center/cover;
}
.project-detail__image-gallery--img-12 {
  background: url("../../img/credo-12.jpg") center center/cover;
}
.project-detail__image-gallery--img-13 {
  background: url("../../img/credo-13.jpg") center center/cover;
}
.project-detail__image-gallery--img-14 {
  background: url("../../img/credo-14.jpg") center center/cover;
}
.project-detail__image-gallery--img-15 {
  background: url("../../img/credo-15.jpg") center center/cover;
}