.project-detail__image-gallery--img-1 {
  background: url("../../img/AHBH\ 1\ living\ room.webp") center center/cover;
}
.project-detail__image-gallery--img-2 {
  background: url("../../img/AHBH\ 2\ living\ room.webp") center center/cover;
}
.project-detail__image-gallery--img-3 {
  background: url("../../img/AHBH\ 3\ living\ room.webp") center center/cover;
}
.project-detail__image-gallery--img-4 {
  background: url("../../img/AHBH\ 4\ living\ room.webp") center center/cover;
}
.project-detail__image-gallery--img-5 {
  background: url("../../img/AHBH\ 5\ carved\ wood.webp") center center/cover;
}
.project-detail__image-gallery--img-6 {
  background: url("../../img/AHBH\ 6\ dining\ room.webp") center center/cover;
}
.project-detail__image-gallery--img-7 {
  background: url("../../img/AHBH\ 7\ dining\ room.webp") center center/cover;
}
.project-detail__image-gallery--img-8 {
  background: url("../../img/AHBH\ 8\ daughters\ room.webp") center center/cover;
}
.project-detail__image-gallery--img-9 {
  background: url("../../img/AHBH\ 9\ daughters\ room.webp") center center/cover;
}
.project-detail__image-gallery--img-10 {
  background: url("../../img/AHBH\ 10\ sons\ room.webp") center center/cover;
}
.project-detail__image-gallery--img-11 {
  background: url("../../img/AHBH\ 11\ sons\ room.webp") center center/cover;
}
.project-detail__image-gallery--img-12 {
  background: url("../../img/AHBH\ 12\ sons\ room.webp") center center/cover;
}
.project-detail__image-gallery--img-13 {
  background: url("../../img/AHBH\ 13\ sons\ room.webp") center center/cover;
}
.project-detail__image-gallery--img-14 {
  background: url("../../img/AHBH\ 14\ parents\ room.webp") center center/cover;
}
.project-detail__image-gallery--img-15 {
  background: url("../../img/AHBH\ 15\ parents\ room.webp") center center/cover;
}
.project-detail__image-gallery--img-16 {
  background: url("../../img/AHBH\ 16\ family\ room.webp") center center/cover;
}
.project-detail__image-gallery--img-17 {
  background: url("../../img/AHBH\ 17\ family\ room.webp") center center/cover;
}
.project-detail__image-gallery--img-18 {
  background: url("../../img/AHBH\ 18\ staircase.webp") center center/cover;
}